.conteudo-container {
    margin: 20px;
}

.conteudo-principal {
    margin-top: 18px;
    border-bottom: 1px solid hsla(214, 26%, 60%, 0.377);
}

.titulo {
    font-size: 18px;
    cursor: pointer;
}

.descricao {
    font-size: 14px;
    margin-top: 14px;
    color: hsl(215, 26%, 60%);
    font-weight: 300;
}

.titulo:hover{
    color: hsl(179, 84%, 54%);
}